#charts-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 50px;
}

#chart1, #chart2 {
  width: 50%;
  margin: 2vh 0;
}

#chart3 {
  display: block;
  width: 50%;
  margin: 2vh auto;
  padding: 2vh 0;
  position: relative;

}
